@page "/department/details/{DepartmentId:int}"

@if (department is null)
{
    <Loading />
}
else
{
    <h3>@department.Name</h3>
    <div class="2">
        <a class="btn btn-outline-primary" href="/employment/create/@DepartmentId"> Nuevo Puesto</a>
        <a class="btn btn-outline-info" href="/branchoffice/details/@department.BranchOfficeId">Regresar</a>
    </div>
    <h4>Puestos</h4>
    <GenericList MyList="employments">
        <Body>
            <Pagination CurrentPage="currentPage"
                        TotalPages="totalPages"
                        SelectedPage="SelectedPageAsync" />
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th >Puestos</th>
                        <th >Empleados</th>
                        <th style="width:210px" >Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var employment in employments!)
                    {
                        <tr>
                            <td>@employment.Name</td>
                            <td>@employment.EmployeesNumber</td>
                            <td>
                                <a class="btn btn-outline-warning btn-sm" href="/employment/edit/@employment.Id">Editar</a>
                                <a class="btn btn-outline-info btn-sm" href="/employment/details/@employment.Id">Detalles</a>
                                <button class="btn btn-outline-danger btn-sm" @onclick=@(() => DeleteAsync(employment))>Borrar</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </Body>
    </GenericList>
}