<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />

<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label>Departamento:</label>
        <div>
            <input class="form-control" @bind-value="@Department.Name" />
            <ValidationMessage For="@(() => Department.Name)" />
        </div>
    </div>
    <button class="btn btn-outline-primary" type="submit">Guardar Cambios</button>
    <button class="btn btn-outline-success" @onclick="ReturnAction"> Regresar</button>
</EditForm>
